*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}

body{
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.btn{
    width: 250px;
    padding: 20px;
    border-radius: 15px;
    font-size: 20px;
    background-color: green;
}